
<div class="wideRow">
<input type="text" class="itemWide" id="newtip" name="newtip" value="<%= tip.text %>" placeholder="Question" autocomplete="off"/>
</div>

<br/>
<a href="/goback"><button type="button">Cancel</button></a>

<input type="submit" value="Save"> 